<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.qhongchen.meeting.mapper.MeetingRoomMapper" >
  <resultMap id="BaseResultMap" type="xin.qhongchen.meeting.entity.MeetingRoom" >
    <id column="room_id" property="roomId" jdbcType="VARCHAR" />
    <result column="room_name" property="roomName" jdbcType="VARCHAR" />
    <result column="room_address" property="roomAddress" jdbcType="VARCHAR" />
    <result column="room_remark" property="roomRemark" jdbcType="VARCHAR" />
    <result column="max_site" property="maxSite" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
  </resultMap>
</mapper>